.banner {
    height: 75px;
    margin: 0px -10px 10px;
    background-color: rgb(77, 82, 84);
    border-radius: 2px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner h2{
    color: white;
    padding-top: 10px;
    margin-left: 2%;
    display: inline-block;
}

.banner Img{
    float: right;
    right: 10px;
    position: absolute;
    z-index: 1;
    width: 200px;
    height: auto;
}

a {
    color: black;  /* Set the link color to black */
    text-decoration: none;  /* Remove underline from links */
}

/* Style when the link is hovered */
a:hover {
    color: grey;  /* Change the color to a lighter shade (grey) on hover */
}